.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-7
      .ibox.float-e-margins
        .ibox-title
          %h3
            Create a Contact
        .ibox-content
          .row
            .col-sm-10
              -# %h3.m-t-none.m-b Create a Contact
              -# %p Sign in today for more expirience.
              = form_for @contact do |f|
                .form-group
                  = f.label :firstname, "First Name"
                  = f.text_field :firstname, class: "form-control", placeholder: "Jack"
                .form-group
                  = f.label :lastname, "Last Name"
                  = f.text_field :lastname, class: "form-control", placeholder: "Burly"
                .form-group
                  = f.label :email, "Email"
                  = f.text_field :email, class: "form-control", placeholder: "jburly@gmail.com"
                .form-group
                  = f.submit "Create", class: "btn btn-primary"
